/* equipos */
.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.titulo-equipos{
  @include mobile{
    font-size: 50px !important;
  }
}
.img-conductor {
  @include altoAncho(auto, 80px);
  @extend %imagenCircular;
  @include margen(0, 0, 15px, 0);
}
.boca {
  background-image: map-get($fondoEquipos, img-boca) !important;
  @include mobile{
    background-image: map-get($fondoEquipos, img-boca-mobile) !important;
  }
}
.river {
  background-image: map-get($fondoEquipos, img-river) !important;
  @include mobile{
    background-image: map-get($fondoEquipos, img-river-mobile) !important;
  }
}
.independiente {
  background-image: map-get($fondoEquipos, img-independiente) !important;
  @include mobile{
    background-image: map-get($fondoEquipos, img-independiente-mobile) !important;
  }
}
.racing {
  background-image: map-get($fondoEquipos, img-racing) !important;
  @include mobile{
    background-image: map-get($fondoEquipos, img-racing-mobile) !important;
  }
}
.sanLorenzo {
  background-image: map-get($fondoEquipos, img-sanLorenzo)!important;
  @include mobile{
    background-image: map-get($fondoEquipos, img-sanLorenzo-mobile) !important;
  }
}
.orden-conductores{
  display: flex;
  justify-content: space-between;  
  @include pad(0,10px,0,10px);
  @include mobile{
    justify-content: center;
  }
}
.estrellas{
    @include altoAncho(auto, 100px);
}
.barra{
  @include pad(0,10px,0,10px);
}
.texto-conductor{
  @extend %texto2;
  line-height: 2;
  font-size: nth($fuentes, 2);
  color: $gris;
  @include mobile{
     @include centrarTexto;
     @include texto15;
  }
}